{
  "env": {
    "jest": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": ["jest"],
  "rules": {
    "semi": [2, "never"]
  }
}
